/*ヘッダーハンバーガー*/
header {
    height: 60px;
    background: #a6a6a6;
    display: flex;
}

.nav_hum {
    position: absolute;
    height: 100vh;
    width: 16%;
    left: -16%;
    background: #eee;
    transition: 0.7s;
}
.nav_hum .list_nav_sidebar {
    padding-top: 80px;
}

.menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    left: 20px;
    top: 20px;
}
.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
}
.menu__line--top {
    top: 4px;
}
.menu__line--middle {
    top: 14px;
}
.menu__line--bottom {
    bottom: 4px;
}
.menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
}
.menu.open span:nth-of-type(2) {
    opacity: 0;
}
.menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
}
.in {
    transform: translateX(100%);
}

/*ここまで*/

/*ヘッダー*/

.container {
    display: flex; /*ヘッダーのコンテナーを横並び*/
    height: 70px;
    display: flex;
}

/*ハンバーガー*/

/*ロゴ*/
.app_logo {
    border: 1px solid #fff;
    background: rgb(252, 85, 85);
    border-radius: 2px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.area_logo_header {
    margin: 20px 80px;
}

.area_logo_header .logo {
    display: block;
    width: 80px;
    height: 30px;
    background: #696969;
    color: #f9f9f9;
    text-align: center;
}

/*検索スペース*/
.form_header {
    margin: auto;
}

.wrap_input {
}

.seach_space {
    width: 400px;
    height: 35px;
}

.seach_button {
    font-size: 14px;
    height: 38px;
    align-items: center;
    display: inline-flex;
    text-decoration: none;
    border: 1px solid #ccc;
    color: #696969;
    border-radius: 5px;
    padding: 0 15px;
}

/*ナビバー*/
.nav_header {
}
.list_nav_header {
    display: flex;
    align-items: center;
}

.list_nav_header > li + li {
    margin: 0 0 0 15px;
}

li {
    list-style: none;
}

/*ログインボタン*/

.btn_login {
    font-size: 14px;
    height: 38px;
    align-items: center;
    display: inline-flex;
    text-decoration: none;
    border: 1px solid #ccc;
    color: #696969;
    border-radius: 2px;
    padding: 0 15px;
    margin-right: 40px;
    margin-left: 40px;
    background: #fff;
    margin-bottom: 10px;
}

.btn_login:hover {
    color: #696969;
    background: #eee;
}

.btn_login:before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background: #696969;
    border-radius: 50%;
    margin-right: 10px;
}

/*会員登録ボタン*/
.btn_new_register {
    font-size: 14px;
    height: 38px;
    align-items: center;
    display: inline-flex;
    text-decoration: none;
    border: 1px solid #ccc;
    color: #696969;
    border-radius: 2px;
    padding: 0 15px;
    margin-right: 40px;
    margin-left: 40px;
    background: #fff;
    margin-top: 20px;
}

.btn_new_register:hover {
    color: #696969;
    background: #eee;
}

.btn_new_register:before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background: #696969;
    border-radius: 50%;
    margin-right: 10px;
}
/*サイドバー */
.sidebar {
    flex: 0 0 240px; /*サイドバー の横幅*/
}

.category {
    margin-top: 100px;
}

.sidebar_p {
    margin-top: 100px;
    font-weight: bold;
    line-height: 30px;
    padding: 0 10px;
}
/*サイドバーナビリスト*/

.list_nav_sidebar a {
    display: flex;
    align-items: center;
    height: 38px;
}

.list_nav_sidebar .sidebar_a:before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background: #696969;
    border-radius: 50%;
    margin-right: 10px;
}

.sidebar_list {
    list-style: none;
    padding: 12px 0;
    border-top: 1px solid #ccc;
}

.sidebar_list:hover {
    color: #696969;
    background: #eee;
}

.sidebar_a {
    text-decoration: none;
    color: #696969;
}
/**/
/**/
/**/
/**/
/**/
/**/
/*メイン*/
.main {
    background: #f9f9f9;
    flex: auto;
    min-width: 10px; /*メインは横いっぱいに広がって欲しい*/
    padding: 30px; /*余白*/
}

/*お気に入り　新着　などの区切り*/
.item_top_ttl {
    display: flex;
    color: #696969;
    border-top: 2px solid #ccc;
    padding: 15px 0;
    margin: 25px 0px;
}
/*トップ　お気に入り部分*/
.top_ttl_h2 {
    font-size: 25px;
}

.favo_list_p {
    margin-left: auto;
}

.favo_list_a {
    text-decoration: none;
}

.favo_list_a:hover {
    color: rgb(233, 54, 54);
}

/*メインボックス*/
.main .box {
    padding: 30px 0;
}
.main .box + .box {
    border-top: 3px solid #ccc;
}

/*お気に入り*/

.list_favo_image {
    display: flex;
    margin: -10px;
}

/*widthで横に表示される画像の数がきまる*/
.list_favo_image > li {
    width: 18%;
    height: 180px;
    margin: 50px 10px;
    border: 1px solid #000;
}

.list_favo_image .thum {
    width: 100%;
    background: #817d7c;
}

.list_favo_image .thum:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 56.25%;
}

/*新着*/
.list_image {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

/*widthで横に表示される画像の数がきまる*/
.list_image > li {
    width: 18%;
    height: 180px;
    margin: 50px 10px;
    border: 1px solid #000;
}

.img_top_item {
    width: 100%;
    height: 100%;
}

/*サムネイル　投稿画像*/
.list_image .thum {
    width: 100%;
    background: #817d7c;
}

.list_image .thum:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 56.25%;
}

.layout_page {
    display: flex;
}

.layout {
    display: flex;
}

/*出品ボタン*/
.listing_top {
    position: fixed;
    right: 5%;
    bottom: 10%;
    cursor: pointer;
}

.listing_top_a {
    color: #fff;
    text-decoration: none;
    background-color: rgb(255, 21, 21);
    opacity: 0.8;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    font-weight: bold;
    color: #fff;
    padding: 20px 17px;
}

.scroll-top {
    position: fixed;
    right: 2%;
    bottom: 5%;
    background-color: #999;
    opacity: 0.8;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

/*ここまで*/
